.portofolio_filters{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    column-gap: 1.875rem;
    margin-bottom: 2.5rem;
}

.work_item{
    cursor: pointer;
    font-weight: var(--font-bold);
    transition: .3s;
}

.work_item:hover{
    color: var(--first-color);
}

.portofolio_container{
    grid-template-columns: repeat(3, 1fr);
    gap: 1.875rem;
}

.portofolio_card{
    position: relative;
    overflow: hidden;
    border-radius: var(--border-radius);
    box-shadow: var(--shadow);
}

.portofolio_mask{
    background: #6c6ce5;
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    transition: .3s;
    opacity: 0;
}

.portofolio_card:hover .portofolio_mask{
    opacity: 0.9;
}

.portofolio_category{
    color: #fff;
    background-color: var(--first-color);
    border-bottom-left-radius: 0.98rem;
    border-bottom-right-radius: 0.98rem;
    position: absolute;
    top: 0;
    left: 1.5rem;
    font-size: var(--small-font-size);
    display: inline-block;
    padding: 0.19rem 0.625rem;
    transform: translateY(-40px);
    transition: .3s;
}

.portofolio_title{
    color: #fff;
    font-size: var(h3-font-size);
    margin: 0 0 0 0.98rem;
    padding: 0 1.25rem;
    position: absolute;
    top: 3.75rem;
    transform: translateY(30px);
    transition: .3s;
    opacity: 0;
}

.portofolio_button{
    color: #fff;
    position: absolute;
    bottom: 1.5rem;
    left: 1.5rem;
    font-size: var(--h3-font-size);
    display: block;
    background-color: #ffd51c;
    height: 40px;
    width: 40px;
    cursor: pointer;
    border-radius: 50%;
    text-align: center;
    line-height: 42px;
    transition: .3s;
    opacity: 0;
}

.github_button{
    color: #fff;
    position: absolute;
    bottom: 1.5rem;
    left: 5rem;
    font-size: var(--h3-font-size);
    display: block;
    background-color: #ffd51c;
    height: 40px;
    width: 40px;
    cursor: pointer;
    border-radius: 50%;
    text-align: center;
    line-height: 42px;
    transition: .3s;
    opacity: 0;
}


.portofolio_card:hover .github_button, .portofolio_card:hover .portofolio_button{
    opacity: 1;

}

.portofolio_card:hover .portofolio_title,
.portofolio_card:hover .portofolio_category{
    opacity: 1;
    transform: translateY(0);
}


@media screen and (max-width: 1024px) {
    .portofolio_filters{
        justify-content: center;
    }
    
    .portofolio_container {
        grid-template-columns: repeat(2, 330px);
        justify-content: center;
        row-gap: 1.875rem;

    }
}


@media screen and (max-width: 768px) {
    .portofolio_container {
        grid-template-columns: 330px ;
    }

    .portofolio_filters{
        row-gap: .25rem;
    }
}


@media screen and (max-width: 350px) {
    .portofolio_container {
        grid-template-columns: 1fr ;
        justify-content: center;

    }
}